* {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.nobound {
  margin: 0%;
  padding: 0%;
}
.fs {
  width: 100%;
  height: 100%;
}
/*    Mixin for perfect absolute positioning - centering    */
.p-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.bg-setup {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
}
body,
html,
ul,
li {
  width: 100%;
  height: 100%;
  color: #262861 !important;
  font-family: Arial, sans-serif !important;
  font-size: 100%;
  font-weight: 700 !important;
  font-style: normal !important;
  overflow-x: hidden;
  overflow-y: hidden;
}
#root {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  background-image: url("./bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
}
#root #raisely-signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: auto;
  background: whitesmoke;
  border-radius: 2vw;
  box-shadow: 0 0 5px white;
  transition: box-shadow 1s;
  padding: 3vw;
}
#root #raisely-signup-form:hover {
  box-shadow: 0 0 15px white;
  transition: box-shadow 1s;
}
#root #raisely-signup-form #raisely-logo {
  width: 40%;
  margin: auto;
  padding-bottom: 2vw;
}
#root #raisely-signup-form .raisely-form-heading {
  font-size: 1.5vw;
  padding-bottom: 1vw;
}
#root #raisely-signup-form #raisely-form .raisely-text-input {
  width: 100%;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background: #f1f1f7;
  margin: 0.5vw 0;
  padding: 0.5vw 1vw;
}
#root #raisely-signup-form #raisely-form .raisely-text-input .raisely-label {
  font-size: 1vw;
}
#root #raisely-signup-form #raisely-form .raisely-text-input input {
  margin: 0%;
  padding: 0%;
  width: 100%;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background: #f1f1f7;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1vw;
  margin-top: 0.5vw;
}
#root #raisely-signup-form #raisely-form .active-input {
  border: 1px #6138d8 solid !important;
}
#root #raisely-signup-form #submit-signup {
  width: 100%;
  border-radius: 3em;
  box-shadow: none;
  border: none !important;
  text-decoration: none;
  padding: 1.2vw 0;
  font-weight: 700;
  color: white;
  background: #6138d8;
  box-shadow: 0 0 15px darkgray;
  transition: background 1s, box-shadow 1s;
  margin-top: 2vw;
}
#root #raisely-signup-form #submit-signup:hover {
  background: #9145d6;
  box-shadow: 0 0 15px dimgray;
  transition: background 1s, box-shadow 1s;
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */