* {
  box-sizing: border-box;
}
@-webkit-keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
@-webkit-keyframes slow-display {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block !important;
    opacity: 1;
  }
}
@keyframes slow-display {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block !important;
    opacity: 1;
  }
}
@-webkit-keyframes slow-hide {
  from {
    display: block;
    opacity: 1;
  }
  to {
    display: none !important;
    opacity: 0;
  }
}
@keyframes slow-hide {
  from {
    display: block;
    opacity: 1;
  }
  to {
    display: none !important;
    opacity: 0;
  }
}
.nobound {
  margin: 0%;
  padding: 0%;
}
.fs {
  width: 100%;
  height: 100%;
}
/*    Mixin for perfect absolute positioning - centering    */
.p-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.bg-setup {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
}
body,
html,
ul,
li {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  color: #262861 !important;
  font-family: Arial, sans-serif !important;
  font-size: 100%;
  font-weight: 700 !important;
  font-style: normal !important;
  overflow-x: hidden;
  overflow-y: hidden;
}
#root {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  position: relative;
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
}
#root #raisely-signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 30vw;
  height: auto;
  background: whitesmoke;
  border-radius: 2vw;
  box-shadow: 0 0 5px white;
  padding: 3vw;
  opacity: 0;
  transition: opacity 1s, box-shadow 1s;
  animation: 1s show 0.5s forwards;
}
#root #raisely-signup-form:hover {
  box-shadow: 0 0 15px white;
  transition: opacity 1s, box-shadow 1s;
}
#root #raisely-signup-form #raisely-form-logo {
  width: 40%;
  margin: auto;
  padding-bottom: 2vw;
}
#root #raisely-signup-form .raisely-container #raisely-form {
  opacity: 1;
  transition: opacity 1s;
}
#root #raisely-signup-form .raisely-container #raisely-form .raisely-form-heading {
  font-size: 1.5vw;
  padding-bottom: 1.5vw;
}
#root #raisely-signup-form .raisely-container #raisely-form .raisely-text-input {
  position: relative;
  width: 100%;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background: #f1f1f7;
  margin: 0.7vw 0;
  padding: 0.5vw 1vw;
}
#root #raisely-signup-form .raisely-container #raisely-form .raisely-text-input .raisely-label {
  font-size: 1vw;
}
#root #raisely-signup-form .raisely-container #raisely-form .raisely-text-input .raisely-invalid-input {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.7vw;
  font-weight: 400;
  color: #e03131;
  z-index: 10;
  display: none;
  opacity: 0;
  transition: opacity 1s;
}
#root #raisely-signup-form .raisely-container #raisely-form .raisely-text-input .raisely-invalid-input .raisely-invalid-input-text {
  float: left;
  line-height: 1.5vw;
  margin-right: 0.5vw;
}
#root #raisely-signup-form .raisely-container #raisely-form .raisely-text-input .raisely-invalid-input .raisely-error-icon {
  display: inline-block;
  color: #e03131;
  font-size: inherit;
  fill: currentColor;
  width: 1.3vw;
  height: 1.3vw;
}
#root #raisely-signup-form .raisely-container #raisely-form .raisely-text-input .raisely-invalid {
  display: block;
  opacity: 1;
  transition: opacity 1s;
}
#root #raisely-signup-form .raisely-container #raisely-form .raisely-text-input input {
  margin: 0%;
  padding: 0%;
  width: 100%;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background: #f1f1f7;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1vw;
  margin-top: 0.5vw;
}
#root #raisely-signup-form .raisely-container #raisely-form .active-input {
  outline: 1px #6138d8 solid !important;
}
#root #raisely-signup-form .raisely-container #raisely-form #raisely-form-submit {
  width: 100%;
  border-radius: 3em;
  box-shadow: none;
  border: none !important;
  outline: none !important;
  text-decoration: none;
  padding: 1.2vw 0;
  font-weight: 700;
  color: white;
  background: #5f40d2;
  box-shadow: 0 0 15px darkgray;
  transition: background 1s, box-shadow 1s;
  margin-top: 2vw;
}
#root #raisely-signup-form .raisely-container #raisely-form #raisely-form-submit:hover {
  background: #9145d6;
  box-shadow: 0 0 15px dimgray;
  transition: background 1s, box-shadow 1s;
  cursor: pointer;
}
#root #raisely-signup-form .raisely-container #raisely-form .raisely-button-disabled {
  opacity: 0.3 !important;
}
#root #raisely-signup-form .raisely-container #raisely-form .raisely-button-disabled:hover {
  cursor: not-allowed !important;
}
#root #raisely-signup-form .raisely-container .raisely-form-disabled {
  transition: opacity 1s;
  animation: 1s slow-hide 1s forwards;
}
#root #raisely-signup-form .raisely-container #raisely-mail-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
  top: 57%;
  width: 80%;
  height: auto;
  background: whitesmoke;
  font-weight: 600;
  font-size: 0.8vw;
  z-index: 9999 !important;
  opacity: 0;
  transition: opacity 1s;
}
#root #raisely-signup-form .raisely-container #raisely-mail-alert .alert-icon {
  text-align: center;
  margin: 0vw auto 3vw;
}
#root #raisely-signup-form .raisely-container #raisely-mail-alert .alert-icon div {
  width: 8vw !important;
  height: 8vw !important;
  margin: auto;
}
#root #raisely-signup-form .raisely-container #raisely-mail-alert .alert-icon div svg {
  fill: #e03131 !important;
}
#root #raisely-signup-form .raisely-container #raisely-mail-alert .alert-text-header {
  font-size: 2vw;
  margin-bottom: 2vw;
}
#root #raisely-signup-form .raisely-container #raisely-mail-alert .alert-text {
  font-size: 1vw;
  font-weight: 300;
  line-height: 200%;
}
#root #raisely-signup-form .raisely-container #raisely-mail-alert .alert-mail {
  display: inline-block;
  width: auto;
  font-weight: 600;
  font-size: 1vw;
  color: #5f40d2;
  background: #f1f1f7;
  outline: 1px #6138d8 solid !important;
  padding: 0.5vw 1vw;
  margin: 1vw 0 4vw;
}
#root #raisely-signup-form .raisely-container #raisely-mail-alert .alert-button {
  font-size: 0.8vw;
  font-weight: 700;
  margin-bottom: 2vw;
  z-index: 9999 !important;
}
#root #raisely-signup-form .raisely-container #raisely-mail-alert .alert-button:hover {
  color: #5f40d2;
  cursor: pointer;
}
#root #raisely-signup-form .raisely-container .mail-alert-enabled {
  display: block !important;
  transition: opacity 1s;
  animation: 1s slow-display 1s forwards;
}
