* {
    box-sizing: border-box;
  }
  
  //------------------------------------------------------------------------------
  
  // Variables
  
  // ------------------------------------------------------------------------------
  
  @min: 0%;
  @max: 100%;
  @font: Arial, sans-serif;
  // Colors
  @main-font-color: rgb(38, 40, 97);
  @main-font-color-2: rgb(95, 64, 210);
  @error-color: rgb(224, 49, 49);
  // Styling
  @raisely-outline: 1px rgb(97, 56, 216) solid !important;
  
  //------------------------------------------------------------------------------
  
  // Media Queries
  
  // ------------------------------------------------------------------------------
  
  // Smartphone General
  @smartphone-all: ~"only screen and (max-width: 479px) and (orientation: portrait)";
  @smartphone-all-landscape: ~"only screen and (max-width: 824px) and (orientation: landscape)";
  
  // Smartphone [Sizes]
  @smartphone-small: ~"only screen and (max-width: 330px) and (orientation: portrait)";
  @smartphone: ~"only screen and (min-width: 330px) and (max-width: 400px) and (orientation: portrait)";
  @smartphone-medium: ~"only screen and (min-width: 400px) and (max-width: 410px) and (orientation: portrait)";
  @smartphone-big: ~"only screen and (min-width: 410px) and (max-width: 479px) and (orientation: portrait)";
  
  // Tablets
  @tablet-small: ~"only screen and (min-width: 760px) and (max-width: 1024px) and (orientation: portrait)";
  @tablet-big: ~"only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait)";
  @tablet-landscape: ~"only screen and (width: 1024px) and (height: 768px) and (orientation: landscape)";
  @iPad-Pro-landscape: ~"only screen and (width: 1366px) and (height: 1024px) and (orientation: landscape)";
  
  // Big Screens [ 16:9 aspect ratio ]
  @HD-screen: ~"only screen and (min-width: 1280px)"; // 1366 x 768 - common large display [W3C]
  @FullHD-screen: ~"only screen and (min-width: 1920px)"; // 1920 x 1080 - larger display [W3C]
  @QHD-screen: ~"only screen and (min-width: 2560px)"; // 2560 x 1440 - high-definition desktop display - 27” monitors and bigger
  @4K-screen: ~"only screen and (min-width: 3840px)"; // 3840 x 2160 - 4K screens
  @8K-screen: ~"only screen and (min-width: 7680px)"; // 7680 x 4800 - 8K screens
  
  //------------------------------------------------------------------------------
  
  // Animations
  
  // ------------------------------------------------------------------------------
  
  @-webkit-keyframes show {
    from {
      opacity: 0;
    } to {
      opacity: 0.9;
    }
  }
  
  @keyframes show {
    from {
      opacity: 0;
    } to {
      opacity: 0.9;
    }
  }

  @-webkit-keyframes slow-display {
    from {
      display: none;
      opacity: 0;
    } to {
      display: block !important;
      opacity: 1;
    }
  }
  
  @keyframes slow-display {
    from {
      display: none;
      opacity: 0;
    } to {
      display: block !important;
      opacity: 1;
    }
  }

  @-webkit-keyframes slow-hide {
    from {
      display: block;
      opacity: 1;
    } to {
      display: none !important;
      opacity: 0;
    }
  }
  
  @keyframes slow-hide {
    from {
      display: block;
      opacity: 1;
    } to {
      display: none !important;
      opacity: 0;
    }
  }
  
  //------------------------------------------------------------------------------
  
  // Classes
  
  // ------------------------------------------------------------------------------
  
  .nobound {
    margin: @min;
    padding: @min;
  }
  
  .fs {
    width: @max;
    height: @max;
  }
  
  .display (@value: block) {
    display: @value;
  }
  
  .position (@pos: absolute) {
    position: @pos;
  }
  
  .aligntext (@align: center) {
    text-align: @align;
  }
  
  /*    Mixin for perfect absolute positioning - centering    */
  .p-center {
    .position;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .rel {
    .position(relative);
  }
  
  .abs {
    .position;
  }
  
  .bg-setup {
    background-position:  center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -ms-content-zooming: none;
  }
  
  //-------------------------------------------------------------
  
  body,html, ul, li {
    .fs;
    .nobound;
    color: @main-font-color !important;
    font-family: @font !important;
    font-size: @max; // font-size: 100% // Needs to be defined for correct responsive resizing of text
    font-weight: 700 !important;
    font-style: normal !important;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  //-------------------------------------------------------------
  
  //                        Main CSS
  
  //-------------------------------------------------------------
  
  // rootElement

  #root {
    .fs;
    .nobound;
    .rel;
    background-image: url("./assets/bg.jpg");
    .bg-setup;
  
    //------------------------------

    // Form Container

    #raisely-signup-form {
      .p-center;
      .rel;
      width: 30vw;
      height: auto;
      //
      background: whitesmoke;
      border-radius: 2vw;
      box-shadow: 0 0 5px white;
      padding: 3vw;
      opacity: 0;
      overflow: hidden;
      transition: opacity 1s, box-shadow 1s;
      animation: 1s show 0.5s forwards;

      @media @tablet-small, @tablet-big {
        width: 55vw;
        padding: 5vw;
      }

      @media @smartphone-all {
        width: 75vw;
        padding: 7vw;
      }
    
      &:hover {
        box-shadow: 0 0 15px white;
        transition: opacity 1s, box-shadow 1s;
      }
  
      //------------------------------

      // Form Logo

      #raisely-form-logo {
        width: 40%;
        margin: auto;
        padding-bottom: 2vw;

        @media @smartphone-all {
          width: 50%;
          padding-bottom: 4vw;
        }

        @media @smartphone-all-landscape {
          padding-bottom: 1vw;
        }

        @media @tablet-small, @tablet-big {
          width: 50%;
          padding-bottom: 3vw;
        }
      }
  
      //------------------------------

      // Raisely Container

      .raisely-container {
        
        //------------------------------

        // [ Form ]

        #raisely-form {
          opacity: 1;
          transition: opacity 1s;

          //------------------------------

          // Form Heading

          .raisely-form-heading {
            font-size: 1.5vw;
            padding-bottom: 1.5vw;

            @media @smartphone-all {
              font-size: 3.5vw;
              padding-bottom: 4vw;
            }

            @media @tablet-small, @tablet-big {
              font-size: 2.8vw;
              padding-bottom: 3vw;
            }
          }
    
          //------------------------------

          // Input Fields

          .raisely-text-input {
            .rel;
            width: @max;
            outline: none !important;
            box-shadow: none !important;
            border: none !important;
            background: rgb(241, 241, 247);
            margin: 0.7vw 0;
            padding: 0.5vw 1vw;

            @media @smartphone-all {
              margin: 2vw 0;
              padding: 2vw 2vw;
            }

            @media @smartphone-all-landscape {
              padding: 0.25vw 0.5vw;
            }

            @media @tablet-small, @tablet-big {
              padding: 2vw 2vw;
              margin: 2vw 0;
            }
    
            // Input Field Label
            .raisely-label {
              font-size: 1vw;

              @media @smartphone-all {
                font-size: 2.5vw;
              }

              @media @tablet-small, @tablet-big {
                font-size: 2vw;
              }
            }
    
            // Input Invalid Message
            .raisely-invalid-input {
              .abs;
              top: 10px;
              right: 10px;
              //
              font-size: 0.7vw;
              font-weight: 400;
              color: @error-color;
              z-index: 10;
              //
              .display(none);
              opacity: 0;
              transition: opacity 1s;

              @media @smartphone-all {
                padding-top: 0.6vw;
                font-size: 2vw;
              }

              @media @tablet-small, @tablet-big {
                font-size: 1.3vw;
                font-weight: 500;
              }
    
              .raisely-invalid-input-text {
                float: left;
                line-height: 1.5vw;
                margin-right: 0.5vw;

                @media @smartphone-all {
                  line-height: 3.6vw;
                  margin-right: 1vw;
                }

                @media @tablet-small, @tablet-big {
                  line-height: 2vw;
                }
              }
            
    
              .raisely-error-icon {
                .display(inline-block);
                color: @error-color;
                font-size: inherit;
                // fill: currentColor;
                width: 1.3vw;
                height: 1.3vw;

                @media @smartphone-all {
                  width: 3vw;
                  height: 3vw;
                }

                @media @tablet-small, @tablet-big {
                  width: 1.6vw;
                  height: 1.6vw;
                }
              }
            }
    
            .raisely-invalid {
              .display(block);
              opacity: 1;
              transition: opacity 1s;
            }
    
            // Input Field
            input {
              .nobound;
              width: @max;
              outline: none !important;
              box-shadow: none !important;
              border: none !important;
              background: rgb(241, 241, 247);
              color: rgba(0, 0, 0, 0.7);
              font-size: 1vw;
              margin-top: 0.5vw;

              @media @smartphone-all {
                font-size: 2.5vw;
                margin-top: 2vw;
              }

              @media @tablet-small, @tablet-big {
                font-size: 2vw;
              }
            }
          }
    
          // Input Fields - Active
          .active-input {
            outline: @raisely-outline;
          }

          //------------------------------

          // Submit Button

          #raisely-form-submit {
            width: 100%;
            border-radius: 3em;
            box-shadow: none;
            border: none !important;
            outline: none !important;
            text-decoration: none;
            padding: 1.2vw 0;
            font-weight: 700;
            font-size: 1vw;
            color: white;
            background: @main-font-color-2;
            box-shadow: 0 0 15px darkgray;
            transition: background 1s, box-shadow 1s;
            margin-top: 2vw;

            @media @smartphone-all {
              font-size: 2.5vw;
              padding: 3vw 0;
              margin-top: 5vw;
            }

            @media @tablet-small, @tablet-big {
              font-size: 2vw;
              padding: 2vw 0;
              margin-top: 3vw;
            }
      
            &:hover {
              background: rgb(145, 69, 214);
              box-shadow: 0 0 15px dimgray;
              transition: background 1s, box-shadow 1s;
              cursor: pointer;
            }
          }
      
          // Submit Button - Disabled
          .raisely-button-disabled {
            opacity: 0.3 !important;
      
            &:hover {
              cursor: not-allowed !important;
            }
          }
        }

        //------------------------------

        // [ Form ] - Disabled

        .raisely-form-disabled {
          transition: opacity 1s;
          animation: 1s slow-hide 1s forwards;
        }

        //------------------------------

        // Mail & Success Alert

        .form-alert {
          .p-center;
          .aligntext(center);
          .display(none);
          top: 57%;
          width: 80%;
          height: auto;
          background: whitesmoke;
          //
          font-weight: 600;
          font-size: 0.8vw;
          //
          z-index: 9999 !important;
          opacity: 0;
          transition: opacity 1s;

          @media @4K-screen {
            top: 60%;
          }

          @media @smartphone-all {
            top: 55%;
          }

          @media @tablet-small, @tablet-big {
            top: 55%;
          }

          .alert-icon {
            .aligntext(center);
            margin: 0vw auto 3vw;

            div {
              width: 8vw !important;
              height: 8vw !important;
              margin: auto;

              @media @smartphone-all {
                width: 25vw !important;
                height: 25vw !important;
                margin: 6vw auto 10vw;
              }

              @media @smartphone-all-landscape {
                margin: 2vw auto 4vw;
              }

              @media @tablet-small, @tablet-big {
                width: 15vw !important;
                height: 15vw !important;
                margin: 4vw auto 7vw;
              }

              @media @tablet-landscape, iPad-Pro-landscape {
                margin: 1vw auto 4vw;
              }

              svg {
                fill: @error-color !important;
              }
            }
          }
        
          .alert-text-header {
            font-size: 2vw;
            margin-bottom: 2vw;

            @media @smartphone-all {
              font-size: 5vw;
              margin-bottom: 5vw;
            }

            @media @tablet-small, @tablet-big {
              font-size: 3vw;
              margin-bottom: 4vw;
            }
          }

          .alert-text {
            font-size: 1vw;
            font-weight: 300;
            line-height: 200%;

            @media @smartphone-all {
              font-size: 2.5vw;
            }

            @media @tablet-small, @tablet-big {
              font-size: 2vw;
            }
          }

          .alert-mail {
            .display(inline-block);
            width: auto;
            font-weight: 600;
            font-size: 1vw;
            //
            color: @main-font-color-2;
            background: rgb(241, 241, 247);
            outline: @raisely-outline;
            padding: 0.5vw 1vw;
            margin: 1vw 0 4vw;

            @media @smartphone-all {
              font-size: 2.5vw;
              padding: 2vw 2vw;
              margin: 2vw 0 14vw;
            }

            @media @smartphone-all-landscape {
              margin: 1vw 0 6vw;
            }

            @media @tablet-small, @tablet-big {
              font-size: 2.2vw;
              margin: 2vw 0 12vw;
            }

            @media @tablet-landscape, iPad-Pro-landscape {
              margin: 1vw 0 5vw;
            }
          }

          .alert-button {
            font-size: 0.8vw;
            font-weight: 700;
            margin-bottom: 2vw;
            z-index: 9999 !important;

            @media @smartphone-all {
              font-size: 2vw;
            }

            @media @tablet-small, @tablet-big {
              font-size: 2vw;
            }

            &:hover {
              color: @main-font-color-2;
              cursor: pointer;
            }
          }
        }

        .form-alert-s {
          top: 57%;

          @media @smartphone-all {
            top: 57%;
          }

          @media @tablet-landscape, iPad-Pro-landscape {
            top: 59%;
          }

          .alert-icon {
            @media @smartphone-all {
              margin: 5vw auto;
            }

            @media @tablet-small, @tablet-big {
              margin: 5vw auto;
            }

            @media @smartphone-all-landscape {
              margin: 4vw auto 2vw;
            }
          }

          .alert-mail {
            margin: 1vw 0 5vw;

            @media @QHD-screen {
              margin: 1vw 0 4vw;
            }

            @media @smartphone-all {
              margin: 1vw auto 13vw;
            }

            @media @tablet-small, @tablet-big {
              margin: 2vw auto 10vw;
            }
          }
        }
        
        // Mail Alert - Enabled
        .alert-enabled {
          .display(block) !important;
          transition: opacity 1s;
          animation: 1s slow-display 1s forwards;
        }

      //------------------------------
      // end of - Raisely Container
      }

    //------------------------------
    // end of - Form Container
    }
  //------------------------------
  // end of - rootElement
  }